.detalle-casa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  color: white;
  font-size: 13px;
}
.divBackBtn {
  position: fixed;
  top: 50px;
  left: -5;
  width: 200px;
  height: 200px;

  .backBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 27px;
    position: absolute;
    top: -130px;
    left: 5%;

    .backImageHouses {
      position: absolute;
      left: 20px;
    }

    .backTextHouses {
    }
  }
}

.detalle-casa-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
    height: 300px;
    object-fit: contain;
  }

  section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.info-casa {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: top;
  gap: 100px;

  section {
    align-items: center;
    overflow-y: auto;
    max-height: 180px;
    text-align: center;
  }

  p {
    font-size: smaller;
    color: white;
  }

  ul {
    list-style-type: none;
    font-size: smaller;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 12px;
    }
  }
}

@media screen and (max-width: 440px) {
  .divBackBtn {
    position: fixed;
    top: 40px;
    left: -40px;
    font-family: "Games of Thrones";

    .backBtn {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      color: white;
      font-family: "Arial";
      font-size: 25px;
      padding: 27px;
      position: absolute;
      top: 5px;
      left: 5%;
    }
  }

  .detalle-casa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    color: white;
    font-size: 13px;
    margin-top: 35%;
    max-height: 470px;
    overflow-y: auto;

    .detalle-casa-main {
      font-size: 20px;

      img {
        width: 150px;
        height: 150px;
      }
      h2 {
        margin-top: 25px;
        border-bottom: 0px;
      }
    }

    h2 {
      text-align: center;
      padding: 5px;
      margin-bottom: 25px;
      letter-spacing: 10px;
      border-bottom: 2px solid #3e4344;
    }
  }

  .detalle-casa-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 200px;
      height: 300px;
      object-fit: contain;
    }

    section {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .info-casa {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: top;
    gap: 20px;

    section {
      align-items: center;
      overflow-y: auto;
      max-height: 180px;
      text-align: center;
    }

    p {
      font-size: medium;
      color: white;
    }

    ul {
      list-style-type: none;
      font-size: smaller;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 12px;
      }
    }
  }
}
